.mask_1
  background-position: 0px -200px
.mask_10
  background-position: 0px -1600px
.mask_11
  background-position: 0px -400px
.mask_12
  background-position: 0px -600px
.mask_13
  background-position: 0px -800px
.mask_14
  background-position: 0px -1000px
.mask_15
  background-position: 0px -1200px
.mask_16
  background-position: 0px -1400px
.mask_2
  background-position: 0px 0px
.mask_3
  background-position: 0px -1800px
.mask_4
  background-position: 0px -2000px
.mask_5
  background-position: 0px -2200px
.mask_6
  background-position: 0px -2400px
.mask_7
  background-position: 0px -2600px
.mask_8
  background-position: 0px -2800px
.mask_9
  background-position: 0px -3000px
