.mask_1
  background-position: 0px -90px
.mask_10
  background-position: 0px -720px
.mask_11
  background-position: 0px -180px
.mask_12
  background-position: 0px -270px
.mask_13
  background-position: 0px -360px
.mask_14
  background-position: 0px -450px
.mask_15
  background-position: 0px -540px
.mask_16
  background-position: 0px -630px
.mask_2
  background-position: 0px 0px
.mask_3
  background-position: 0px -810px
.mask_4
  background-position: 0px -900px
.mask_5
  background-position: 0px -990px
.mask_6
  background-position: 0px -1080px
.mask_7
  background-position: 0px -1170px
.mask_8
  background-position: 0px -1260px
.mask_9
  background-position: 0px -1350px
