@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
  $mask-size = 150px
  $avatar-size = 60px

  section
    width: 100vw
    height: auto
    box-sizing: border-box
    &:first-child
      height: auto

  h1
    width: auto
    height: 280px
    margin: 0 20px
    box-sizing: border-box
    background: url('/images/les_pepitos_small.png') bottom center/contain no-repeat
    span
      top: 50px
      width: $mask-size
      height: $mask-size
      margin: 0 0 0 ($mask-size/-2)
      background-position: 0 $mask-size

  footer
    position: relative
    margin: 20px 0 0 0

  blockquote
    width: 100vw
    box-sizing: border-box
    padding: 0 20px
    font-size: 15px
    &:first-child
      margin: 0 0 10px 0
      &::after
        content: none
    p
      margin-bottom: 10px

  cite
    font-size: 15px
    img
      max-width: $avatar-size
      max-height: $avatar-size
